.background {
    background-color: rgba(17, 16, 16, 0.42);
}

.gameBoard {
    width: 100%;
    border-spacing: 1px;
}

.gameBoard tr {
    background-color: #FDFDFD;
}

.gameBoard td {
    text-align: center;
}

.row-disabled {
    background-color: #E2E2E2 !important;
}

.box {
    border: 2px solid #FFFFFF;
}

.box h2 {
    color: white;
    padding: 5px;
    text-align: center;
}

